apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "castai-agent.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{ if .Values.global }}
    azure-extensions-usage-release-identifier: {{.Release.Name}}
    {{ end }}
    {{- include "castai-agent.labels" . | nindent 4 }}
  annotations:
    ignore-check.kube-linter.io/no-anti-affinity: "This deployment is using Topology Spread Constraints on the hostname key instead of pod anti-affinity"
  {{ if gt (len .Values.commonAnnotations) 0 -}}
    {{- include "castai-agent.annotations" . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "castai-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "castai-agent.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.hostNetwork.enabled }}
      hostNetwork: true
      {{- end }}
      {{- if .Values.dnsPolicy }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- end }}
      {{- with .Values.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      shareProcessNamespace: true
      volumes:
        - name: shared-metadata
          emptyDir: {}
        {{- with .Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- if .Values.priorityClass.enabled }}
      priorityClassName: {{ .Values.priorityClass.name }}
      {{- end }}
      serviceAccountName: {{ include "castai-agent.serviceAccountName" . }}
      automountServiceAccountToken: true
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: agent
        {{- $global := .Values.global | default dict }}
        {{ if $global.azure }}
          image: "{{ .Values.global.azure.images.agent.registry }}/{{ .Values.global.azure.images.agent.image }}@{{ .Values.global.azure.images.agent.digest }}"
        {{ else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        {{ end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: shared-metadata
              mountPath: /agent-metadata
            {{- with .Values.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          env:
            - name: SELF_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: SELF_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SELF_POD_NODE
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: API_URL
              value: {{ required "apiURL must be provided" .Values.apiURL | quote }}
            {{- if .Values.provider }}
            - name: PROVIDER
              value: {{ .Values.provider | quote }}
            {{- end }}
            {{- if or .Values.metadataStore.enabled (eq .Values.provider "anywhere") }}
            - name: METADATA_STORE_ENABLED
              value: "true"
            - name: METADATA_STORE_CONFIG_MAP_NAME
              value: {{ .Values.metadataStore.configMapName | quote }}
            - name: METADATA_STORE_CONFIG_MAP_NAMESPACE
              value: {{ .Values.metadataStore.configMapNamespace | quote }}
            {{- end }}
            - name: MONITOR_METADATA
              value: /agent-metadata/metadata
            - name: CONTROLLER_CONFIG_MAP_NAMESPACES
              value: '{{ join "," ( concat ( list .Release.Namespace ) .Values.rbac.configmapsReadAccessNamespaces ) }}' 
          {{- range $k, $v := .Values.additionalEnv }}
            - name: {{ $k }}
              value: "{{ $v }}"
          {{- end }}
          envFrom:
          {{- if or .Values.apiKey .Values.apiKeySecretRef }}
            - secretRef:
                {{- if .Values.apiKey }}
                name: {{ include "castai-agent.fullname" . -}}
                {{- else }}
                name: {{ required "apiKey or apiKeySecretRef must be provided" .Values.apiKeySecretRef -}}
                {{- end -}}
          {{- else if not .Values.envFrom }}
          {{- fail "castai.apiKey or castai.apiKeySecretRef must be provided" }}
          {{- end }}
          {{- if .Values.trustedCACert }}
            - secretRef:
                name: {{ include "castai-agent.fullname" . -}}-tls-cert
          {{- else if .Values.trustedCACertSecretRef }}
            - secretRef:
                name: {{ .Values.trustedCACertSecretRef -}}
          {{- end }}
          {{- with .Values.envFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{/* we don't set resources if Cluster proportional vertical autoscaler is enabled */}}
          resources:
          {{- if .Values.clusterVPA.enabled -}}
          {{/* we hardcode CPU req/limit for now */}}
            requests:
              cpu: 100m
            limits:
              cpu: 1000m
          {{- else -}}
            {{ .Values.resources | toYaml | nindent 14 }}
          {{- end }}
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 9876
              name: healthz
            - containerPort: 9877
              name: metrics
          readinessProbe:
            httpGet:
              port: healthz
          livenessProbe:
            httpGet:
              port: healthz
        - name: monitor
        {{ if $global.azure }}
          image: "{{ .Values.global.azure.images.agent.registry }}/{{ .Values.global.azure.images.agent.image }}@{{ .Values.global.azure.images.agent.digest }}"
        {{ else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        {{ end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: shared-metadata
              mountPath: /agent-metadata
          env:
            - name: MODE
              value: monitor
            - name: MONITOR_METADATA
              value: /agent-metadata/metadata
            - name: SELF_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: SELF_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SELF_POD_NODE
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: API_URL
              value: {{ required "apiURL must be provided" .Values.apiURL | quote }}
            {{- if .Values.provider }}
            - name: PROVIDER
              value: {{ .Values.provider | quote }}
            {{- end }}
          {{- range $k, $v := .Values.additionalEnv }}
            - name: {{ $k }}
              value: "{{ $v }}"
          {{- end }}
          envFrom:
          {{- if or .Values.apiKey .Values.apiKeySecretRef }}
            - secretRef:
                {{- if .Values.apiKey }}
                name: {{ include "castai-agent.fullname" . -}}
                {{- else }}
                name: {{ required "apiKey or apiKeySecretRef must be provided" .Values.apiKeySecretRef -}}
                {{- end -}}
          {{- else if not .Values.envFrom }}
          {{- fail "castai.apiKey or castai.apiKeySecretRef must be provided" }}
          {{- end }}
          {{- if .Values.trustedCACert }}
            - secretRef:
                name: {{ include "castai-agent.fullname" . -}}-tls-cert
          {{- else if .Values.trustedCACertSecretRef }}
            - secretRef:
                name: {{ .Values.trustedCACertSecretRef -}}
          {{- end }}
          {{- with .Values.envFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- .Values.monitor.resources | default dict | toYaml | nindent 12 }}
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
