{{- if .Values.serviceAccount.create }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "cluster-controller-ext.fullname" . }}
  labels:
  {{- include "cluster-controller-ext.labels" . | nindent 4 }}
  {{- $annotations := include "cluster-controller-ext.annotations" . | trim }}
  {{- if $annotations }}
  annotations:
    {{- $annotations | nindent 4 }}
  {{- end }}
rules:
  - apiGroups:
      - "storage.k8s.io"
    resources:
      - volumeattachments
    verbs:
      - get
      - list
      - delete
      - watch
 {{- end }}
