{{- if and .Values.resourceQuota.enabled ((.Values.priorityClass | default dict).enabled)  }}
apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ include "cluster-controller.fullname" . }}-critical-pods
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cluster-controller.labels" . | nindent 4 }}
  {{- $annotations := include "cluster-controller.annotations" . | trim }}
  {{- if $annotations }}
  annotations:
    {{- $annotations | nindent 4 }}
  {{- end }}
spec:
  scopeSelector:
    matchExpressions:
      - operator: In
        scopeName: PriorityClass
        values:
          - {{ .Values.priorityClass.name }}
{{- end }}
