{{- if or .Values.apiKey .Values.castai.apiKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: castai-cluster-controller
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "castai-agent.labels" . | nindent 4 }}
  {{ if gt (len .Values.commonAnnotations) 0 -}}
  annotations:
    {{- include "castai-agent.annotations" . | nindent 4 }}
  {{- end }}
data:
  {{- if .Values.apiKey }}
  API_KEY: {{ required "apiKey must be provided" .Values.apiKey | b64enc | quote }}
  {{- else }}
  API_KEY: {{ required "castai.apiKey must be provided" .Values.castai.apiKey | b64enc | quote }}
  {{- end }}
{{- end }}
