apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "pod-mutator.fullname" . }}
  labels:
  {{- include "pod-mutator.labels" . | nindent 4 }}
rules:
  # ---
  # Required for basic Webhook functionality
  # ---
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - list
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resourceNames:
      - {{ include "pod-mutator.webhookName" . }}
    resources:
      - mutatingwebhookconfigurations
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - admissionregistration.k8s.io
    resourceNames:
      - vpodmutation.cast.ai
    resources:
      - validatingwebhookconfigurations
    verbs:
      - get
      - patch
      - update
  # ---
  # Write permissions for pod controllers (deployments) - required for rolling out new pods
  # ---
  - apiGroups:
      - "apps"
    resources:
      - deployments
    verbs:
      - update
  # ---
  # Write permissions on pods to add labels/annotations about future patches
  # ---
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - patch
      - update 
  # ---
  # Read only permissions to view pods/deployments/rollouts
  # ---
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
  - apiGroups:
    - "argoproj.io"
    resources:
      - rollouts
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - "apps"
    resources:
      - replicasets
      - deployments
      - statefulsets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - "batch"
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
      - list
      - watch
  # ---
  # Read permissions for PodMutation custom resources
  # ---
  - apiGroups:
      - "pod-mutations.cast.ai"
    resources:
      - podmutations
    verbs:
      - get
      - list
      - watch
