apiVersion: v1
kind: ConfigMap
metadata:
  name: pod-mutator
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "pod-mutator.labels" . | nindent 4 }}
  {{ if .Values.commonAnnotations -}}
  annotations:
    {{- include "pod-mutator.annotations" . | nindent 4 }}
  {{- end }}
data:
  {{- if .Values.castai.apiUrl }}
  API_URL: {{ .Values.castai.apiUrl | quote }}
  {{- else if not .Values.envFrom }}
  {{- fail "castai.apiUrl must be provided" }}
  {{- end }}
  {{- if not .Values.castai.organizationIdSecretKeyRef.name }}
  {{- if .Values.castai.organizationID }}
  ORGANIZATION_ID: {{ .Values.castai.organizationID | quote }}
  {{- else if not .Values.envFrom }}
  {{- fail "organizationID must be provided" }}
  {{- end }}
  {{- end }}
  {{- if not .Values.castai.clusterIdSecretKeyRef.name }}
  {{- if .Values.castai.clusterID }}
  CLUSTER_ID: {{ .Values.castai.clusterID | quote }}
  {{- else if not .Values.envFrom }}
  {{- fail "clusterID must be provided" }}
  {{- end }}
  {{- end }}
