apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pod-mutator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "pod-mutator.labels" . | nindent 4 }}
  annotations:
    ignore-check.kube-linter.io/env-var-secret: "Linter may complain about CERTS_SECRET, which is NOT a secret value. CERTS_SECRET contains a resource name used by Cert Rotator."
    {{- include "pod-mutator.annotations" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "pod-mutator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- with .Values.podAnnotations }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
      {{- include "pod-mutator.selectorLabels" . | nindent 8 }}
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.priorityClass.enabled }}
      priorityClassName: {{ .Values.priorityClass.name }}
      {{- end }}
      serviceAccountName: {{ template "pod-mutator.serviceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
      {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.hostNetwork }}
      hostNetwork: true
      {{- end }}
      {{- if or .Values.dnsPolicy .Values.hostNetwork  }}
      dnsPolicy: {{ or .Values.dnsPolicy "ClusterFirstWithHostNet" }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ required "image.repository must be provided" .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
          ports:
            - name: health
              containerPort: {{ .Values.healthProbePort }}
              protocol: TCP
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: WEBHOOK_NAME
              value: {{ include "pod-mutator.webhookName" . }}
            - name: SERVICE_NAME
              value: {{ include "pod-mutator.fullname" . }}
            - name: LOG_LEVEL
              value: "0"
            - name: CERTS_ROTATION
              value: "true"
            - name: CERTS_SECRET
              value: {{ include "pod-mutator.certsSecretName" . }}
            - name: HEALTH_PROBE_ADDR
              value: ":{{ .Values.healthProbePort }}"
            {{- range $name, $value := .Values.additionalEnv }}
            - name: "{{ $name }}"
              value: "{{ $value }}"
            {{- end }}
          {{- if .Values.castai.clusterIdSecretKeyRef.name }}
            {{- if ne .Values.castai.clusterID "" }}
            {{- fail "clusterID and clusterIdSecretKeyRef are mutually exclusive" }}
            {{- end }}

            {{- if ne .Values.castai.configMapRef "" }}
            {{- fail "configMapRef and clusterIdSecretKeyRef are mutually exclusive" }}
            {{- end }}
            - name: CLUSTER_ID
              valueFrom:
                secretKeyRef:
                  name: {{ required "clusterID or clusterIdSecretKeyRef must be provided" .Values.castai.clusterIdSecretKeyRef.name }}
                  key: {{ .Values.castai.clusterIdSecretKeyRef.key }}
          {{- else }}
            {{- if and (not .Values.castai.clusterID) (not .Values.castai.configMapRef) (not .Values.envFrom) }}
            {{- fail "either clusterID configMapRef, clusterIdSecretKeyRef or envFrom must be provided" }}
            {{- end }}
          {{- end }}
          envFrom:
          {{- if or .Values.castai.apiKey .Values.castai.apiKeySecretRef }}
            - secretRef:
                {{- if .Values.castai.apiKey }}
                  {{- if ne .Values.castai.apiKeySecretRef "" }}
                  {{- fail "apiKey and apiKeySecretRef are mutually exclusive" }}
                  {{- end }}
                name: pod-mutator
                {{- else }}
                name: {{ required "apiKey or apiKeySecretRef must be provided" .Values.castai.apiKeySecretRef }}
                {{- end }}
          {{- else if not .Values.envFrom }}
          {{- fail "castai.apiKey, castai.apiKeySecretRef or envFrom must be provided" }}
          {{- end }}
            {{- if or .Values.castai.apiUrl .Values.castai.clusterID .Values.castai.configMapRef }}
            - configMapRef:
              {{- if .Values.castai.configMapRef }}
                name: {{ .Values.castai.configMapRef }}
              {{- else }}
                name: pod-mutator
              {{- end }}
            {{- end }}
          {{- with .Values.envFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /certs
              name: certs
              readOnly: true
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.healthProbePort }}
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /readyz
              port: {{ .Values.healthProbePort }}
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 1
            failureThreshold: 3
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: certs
          secret:
            defaultMode: 420
            secretName: {{ include "pod-mutator.certsSecretName" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        nodeAffinity:
          {{- with .Values.affinity.nodeAffinity }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- if not .Values.enableTopologySpreadConstraints }}
        podAntiAffinity:
          {{- with .Values.affinity.podAntiAffinity }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- end }}
      {{- if .Values.enableTopologySpreadConstraints }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
       {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
