apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: vpodmutation.cast.ai
  labels:
  {{- include "pod-mutator.labels" . | nindent 4 }}
webhooks:
  - name: vpodmutation.cast.ai
    failurePolicy: Fail
    sideEffects: None
    timeoutSeconds: 10
    rules:
      - apiGroups: ["pod-mutations.cast.ai"]
        apiVersions: ["v1"]
        operations: ["CREATE", "UPDATE"]
        resources: ["podmutations"]
        scope: "Cluster"
    admissionReviewVersions:
      - v1
    clientConfig:
      {{- with .Values.webhook.caBundle }}
      caBundle: {{ . | b64enc | quote }}
      {{- end }}
      {{- if .Values.webhook.url }}
      url: "{{ .Values.webhook.url }}/validate-pod-mutations-cast-ai-v1-podmutation"
      {{- else }}
      service:
        name: {{ include "pod-mutator.fullname" . }}
        namespace: {{ .Release.Namespace }}
        path: /validate-pod-mutations-cast-ai-v1-podmutation
  {{- end }}
