apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pod-pinner.fullname" . }}
  labels:
    {{- if .Values.managedByCASTAI }}
    charts.cast.ai/managed: "true"
    {{- else }}
    charts.cast.ai/managed: "false"
    {{- end }}
    {{- include "pod-pinner.labels" . | nindent 4 }}
  annotations:
    ignore-check.kube-linter.io/env-var-secret: "Linter may complain about CERTS_SECRET_NAME, which is NOT a secret value. CERTS_SECRET_NAME contains a resource name used by Cert Rotator."
    {{- include "pod-pinner.annotations" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "pod-pinner.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "pod-pinner.selectorLabels" . | nindent 8 }}
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "pod-pinner.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            - name: healthz
              containerPort: 9091
              protocol: TCP
          livenessProbe:
            httpGet:
              port: 9091
              path: /healthz
          readinessProbe:
            httpGet:
              port: 9091
              path: /readyz
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                  fieldRef:
                    fieldPath: metadata.namespace
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: API_URL
              value: {{ required "castai.apiURL must be provided" .Values.castai.apiURL | quote }}
            - name: API_GRPC_URL
              value: {{ required "castai.grpcURL must be provided" .Values.castai.grpcURL | quote }}
            {{- if .Values.castai.clusterID }}
            {{- if ne .Values.castai.clusterIdSecretKeyRef.name "" }}
            {{- fail "clusterID and clusterIdSecretKeyRef are mutually exclusive" }}
            {{- end }}
            - name: CLUSTER_ID
              value: {{ required "castai.clusterID must be provided" .Values.castai.clusterID | quote }}
            {{- else }}
            {{- if .Values.castai.clusterIdSecretKeyRef.name }}
            - name: CLUSTER_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.castai.clusterIdSecretKeyRef.name }}
                  key: {{ .Values.castai.clusterIdSecretKeyRef.key }}
            {{- end }}
            {{- end }}
            - name: CERTS_SECRET_NAME
              value: {{ include "pod-pinner.certsSecretName" . }}
            - name: CERTS_DIR
              value: /certs
            - name: PORT
              value: {{ .Values.service.port | quote }}
            - name: LEADER_ELECTION_ENABLED
              value: "true"
            - name: LEADER_ELECTION_LEASE_NAME
              value: {{ include "pod-pinner.leaderElectionLeaseName" . }}
            - name: LEADER_ELECTION_LEADER_SERVICE_NAME
              value: {{ include "pod-pinner.leaderServiceName" . }}
            - name: WEBHOOK_NAME
              value: {{ include "pod-pinner.webhookName" . }}
            - name: SERVICE_NAME
              value: {{ include "pod-pinner.leaderServiceName" . }}
            {{- range $name, $value := .Values.additionalEnv }}
            - name: "{{ $name }}"
              value: "{{ $value }}"
            {{- end }}
          envFrom:
          {{- if or .Values.castai.apiKey .Values.castai.apiKeySecretRef }}
            - secretRef:
                {{- if .Values.castai.apiKey }}
                name: {{ include "pod-pinner.fullname" . -}}
                {{- else }}
                name: {{ required "castai.apiKey or castai.apiKeySecretRef must be provided" .Values.castai.apiKeySecretRef -}}
                {{- end -}}
          {{- else if not .Values.envFrom }}
          {{- fail "castai.apiKey or castai.apiKeySecretRef must be provided" }}
          {{- end }}
          {{- with .Values.envFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /certs
              name: certs
              readOnly: true
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  {{- $labels := (include "pod-pinner.selectorLabels" . | fromYaml) }}
                  {{- range $key, $value := $labels }}
                  - key: {{ $key }}
                    operator: In
                    values:
                      - {{ $value }}
                  {{- end }}
      {{- with .Values.affinity }}
        {{- if .podAntiAffinity }}
          {{- if .podAntiAffinity.requiredDuringSchedulingIgnoredDuringExecution }}
            {{- toYaml .podAntiAffinity.requiredDuringSchedulingIgnoredDuringExecution | nindent 12 }}
          {{- end }}
          {{- if .podAntiAffinity.preferredDuringSchedulingIgnoredDuringExecution }}
          preferredDuringSchedulingIgnoredDuringExecution:
            {{- toYaml .podAntiAffinity.preferredDuringSchedulingIgnoredDuringExecution | nindent 12 }}
          {{- end }}
        {{- end }}

        {{- if .nodeAffinity }}
        nodeAffinity:
          {{- toYaml .nodeAffinity | nindent 10 }}
        {{- end }}

        {{- if .podAffinity }}
        podAffinity:
          {{- toYaml .podAffinity | nindent 10 }}
        {{- end }}

      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: certs
          secret:
            defaultMode: 420
            secretName: {{ include "pod-pinner.certsSecretName" . }}
