{{- if .Values.global.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "pod-pinner.serviceAccountName" . }}
  labels:
    {{- include "pod-pinner.labels" . | nindent 4 }}
  {{- if or (gt (len .Values.global.commonAnnotations) 0) (gt (len .Values.global.serviceAccount.annotations) 0) }}
  annotations:
    {{- include "pod-pinner.serviceAccountAnnotations" . | nindent 4 }}
  {{- end }}
{{- end }}
