apiVersion: v1
kind: Service
metadata:
  name: {{ include "pod-pinner.fullname" . }}
  labels:
    {{- include "pod-pinner.labels" . | nindent 4 }}
  {{ if gt (len .Values.global.commonAnnotations) 0 -}}
  annotations:
    {{- include "pod-pinner.annotations" . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "pod-pinner.selectorLabels" . | nindent 4 }}
