{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "gpu-metrics-exporter.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "gpu-metrics-exporter.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: {{ if .Values.gpuMetricsExporter.rbac.clusterWide }}ClusterRole{{ else }}Role{{ end }}
metadata:
  name: {{ include "gpu-metrics-exporter.fullname" . }}
  labels:
    {{- include "gpu-metrics-exporter.labels" . | nindent 4 }}
  {{- if not .Values.gpuMetricsExporter.rbac.clusterWide }}
  namespace: {{.Release.Namespace}}
  {{- end }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
- apiGroups:
    - ""
  resources:
    - configmaps
  verbs:
    - get
    - list
    - patch
- apiGroups:
    - ""
  resources:
    - secrets
  verbs:
    - get
    - update
    - patch
- apiGroups:
    - apps
  resources:
    - daemonsets
  verbs:
    - get
    - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: {{ if .Values.gpuMetricsExporter.rbac.clusterWide }}ClusterRoleBinding{{ else }}RoleBinding{{ end }}
metadata:
  name: {{ include "gpu-metrics-exporter.fullname" . }}
  labels:
    {{- include "gpu-metrics-exporter.labels" . | nindent 4 }}
  {{- if not .Values.gpuMetricsExporter.rbac.clusterWide }}
  namespace: {{.Release.Namespace}}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ if .Values.gpuMetricsExporter.rbac.clusterWide }}ClusterRole{{ else }}Role{{ end }}
  name: {{ include "gpu-metrics-exporter.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "gpu-metrics-exporter.serviceAccountName" . }}
  namespace: {{.Release.Namespace}}
{{- end }}
