{{- if eq .Values.castai.apiKeySecretRef "" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "gpu-metrics-exporter.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "gpu-metrics-exporter.labels" . | nindent 4 }}
data:
{{- if and .Values.castai (not (empty .Values.castai.apiKey)) }}
  API_KEY: {{ .Values.castai.apiKey | b64enc | quote }}
{{- else }}
  API_KEY: ""
{{- end }}
{{- end }}
