charts/castai-agent   @castai/cast-cost
charts/castai-evictor @castai/cast-cost
charts/castai-spot-handler @castai/cast-core
charts/castai-cluster-controller @castai/cast-core
charts/castai-pod-node-lifecycle @castai/cast-cost
charts/castai-sec-agent @castai/cast-sec
