provider: "" # gke | eks | aks
imagePullSecrets: []

serviceAccount:
  create: true
  automount: true
  annotations: {}

castai:
  apiKey: ""
  clusterId: ""

gpuMetricsExporter:
  image:
    repository: ghcr.io/castai/gpu-metrics-exporter/gpu-metrics-exporter
    pullPolicy: IfNotPresent
    tag: ""
  config: {}
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  securityContext:
    readOnlyRootFilesystem: true
    runAsNonRoot: true
  port: 6061

dcgmExporter:
  enabled: true
  image:
    repository: nvcr.io/nvidia/k8s/dcgm-exporter
    pullPolicy: IfNotPresent
    tag: 3.3.7-3.5.0-ubuntu22.04
  useExternalHostEngine: false

gke:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: cloud.google.com/gke-accelerator
                operator: Exists

migrate:
  image:
    repository: alpine/k8s
    pullPolicy: IfNotPresent
    tag: 1.31.0