# Default values for pod-pinner.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Replica count for the pod-pinner deployment.
replicaCount: 2

# -- Image settings for the pod-pinner container.
image:
  # -- The image repository to use.
  repository: us-docker.pkg.dev/castai-hub/library/pod-pinner
  # -- The image pull policy.
  pullPolicy: IfNotPresent
  # -- Overrides the image tag whose default is the chart appVersion.
  tag: ""

# -- Specifies whether the Pod Pinner should be managed by CAST AI automatically. Only the exact value "false" disables automatic management of the chart.
# If set to "false", then the installation, upgrade or any changes have to be managed manually.
managedByCASTAI: true

# -- Image pull secrets to use for the pod-pinner pod.
imagePullSecrets: []

# -- Used to set additional environment variables for the pod-pinner container.
additionalEnv: {}
  # PPROF_PORT: "6060"

# -- Extra annotations to add to the pod.
podAnnotations: {}

# -- Extra labels to add to the pod.
podLabels: {}

# -- Pod security context.
podSecurityContext: {}
  # fsGroup: 2000

# -- Security context for the pod-pinner container.
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

# -- Service settings for the pod-pinner.
service:
  # -- The service type to use.
  type: ClusterIP
  # -- The service port to use. The port is restricted to certain values because the webhook server uses this port.
  port: 8443

# -- Pod-pinner container resources.
resources:
  requests:
    cpu: 20m
    memory: 256Mi
  limits:
    memory: 256Mi

# -- Node selector for the pod-pinner pod.
nodeSelector: {}

# -- Tolerations for the pod-pinner pod.
tolerations: []

# -- Affinity for the pod-pinner pod.
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/os
              operator: NotIn
              values:
                - windows
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        preference:
          matchExpressions:
            - key: provisioner.cast.ai/managed-by
              operator: In
              values:
                - cast.ai

# -- Webhook settings for the pod-pinner.
webhook:
  # -- Overrides the failure policy of the webhook whose default is Ignore.
  failurePolicy: Ignore
  # -- Overrides webhook service routing and uses the provided url instead.
  url: ""

# -- CAST AI settings for the pod-pinner.
castai:
  # -- The CAST AI API URL.
  apiURL: "https://api.cast.ai"
  # -- The CAST AI gRPC URL.
  grpcURL: "grpc.cast.ai:443"
  # -- The CAST AI API key. Either this or apiKeySecretRef must be provided.
  apiKey: ""
  # -- Kubernetes Secret reference for the CAST AI API key. Either this or apiKey must be provided.
  apiKeySecretRef: ""
  # -- The CAST AI cluster ID.
  clusterID: ""
  # clusterIDSecretRef -- Name of secret with ClusterID
  # The referenced secret must provide the token in .data["CLUSTER_ID"]
  clusterIdSecretKeyRef:
    name: ""
    key: "CLUSTER_ID"

# -- Values to apply for the parent and child chart resources.
global:
  # -- Override the name of the chart.
  nameOverride: ""
  # -- Override the fullname of resources.
  fullnameOverride: ""
  # -- Labels to add to all resources.
  commonLabels: {}
  # -- Annotations to add to all resources.
  commonAnnotations: {}
  # -- Service account to use for the pod-pinner.
  serviceAccount:
    # -- Specifies whether a service account should be created
    create: true
    # -- Annotations to add to the service account
    annotations: {}
    # -- The name of the service account to use. If not set and create is true, a name is generated using the fullname template
    name: ""

# -- Used to set additional environment variables for the pod-pinner container via configMaps or secrets.
envFrom: []