{{- if ne .Values.database.username "" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "name" . }}-db-user
  labels:
    {{- include "labels" . | nindent 4 }}
data:
  DATABASE_USERNAME: {{ .Values.database.username | b64enc | quote }}
  {{- if not .Values.database.useIAMAuth }}
  DATABASE_PASSWORD: {{ required "database.password must be provided when useIAMAuth is false" .Values.database.password | b64enc | quote }}
  {{- end }}
{{- end }}
