image:
  repository: "us-docker.pkg.dev/castai-hub/library/vllm-openai"
  tag: "v0.8.5"

container:
  port: 8000

service:
  type: ClusterIP
  port: 8000

mountImageCache: false
task: "generate"
enableChunkedPrefill: true
maxNumBatchedTokens: 10000

startupProbe:
  initialDelaySeconds: 20
  periodSeconds: 6
  # Allow for up to 20 minutes of startup time
  failureThreshold: 200
  httpGet:
    path: /health

# -- Readiness probe configuration
readinessProbe:
  # -- Number of seconds after the container has started before readiness probe is initiated
  initialDelaySeconds: 5
  # -- How often (in seconds) to perform the readiness probe
  periodSeconds: 5
  # -- Number of times after which if a probe fails in a row, Kubernetes considers that the overall check has failed: the container is not ready
  failureThreshold: 3
   # -- Configuration of the Kubelet http request on the server
  httpGet:
    # -- Path to access on the HTTP server
    path: /health

# -- Liveness probe configuration
livenessProbe:
  # -- Number of seconds after the container has started before liveness probe is initiated
  initialDelaySeconds: 15
  # -- Number of times after which if a probe fails in a row, Kubernetes considers that the overall check has failed: the container is not alive
  failureThreshold: 3
  # -- How often (in seconds) to perform the liveness probe
  periodSeconds: 10
  # -- Configuration of the Kubelet http request on the server
  httpGet:
    # -- Path to access on the HTTP server
    path: /health

deployment:
  labels:
