apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "name" . }}-envoy-config
  labels:
    {{- include "labels" . | nindent 4 }}
  annotations:
    {{- include "annotations" . | nindent 4 }}
data:
  envoy-config.yaml: |-
    node:
      cluster: castai
      id: castai-router

    bootstrap_extensions:
      - name: "castai.cache.lmdb_cache"
        typed_config:
          "@type": type.googleapis.com/castai.cache.lmdb_cache.v1.LmdbCacheConfig
          stats_prefix: cache
          path: /data/cache
          db_size_bytes: {{ .Values.resources.proxy.cacheDbSizeBytes | int }}
          max_cache_entries: {{ .Values.resources.proxy.maxCacheEntries | int }}
          eviction_threshold: {{ .Values.proxy.evictionThreshold | default 0.5 }}
          stop_caching_threshold: {{ .Values.proxy.stopCachingThreshold | default 0.95 }}
          write_batch_size: {{ .Values.proxy.writeBatchSize | default 100 }}
          write_batch_delay_ms: {{ .Values.proxy.writeBatchDelayMs | default 100 }}
          stats_thread_period_ms: {{ .Values.proxy.statsThreadPeriodMs | default 1000 }}
          eviction_thread_period_ms: {{ .Values.proxy.evictionThreadPeriodMs | default 1000 }}
      - name: "castai.cache_control"
        typed_config:
          "@type": type.googleapis.com/castai.cache_control.v1.CacheControlConfig
          location:
            provider: pce
            region:
      - name: "castai.cluster_control"
        typed_config:
          "@type": type.googleapis.com/castai.cluster_control.v1.ClusterControlConfig
          path: /v1/dbo/cache-groups/{{ .Values.cacheGroupID | required ".Values.cacheGroupID is required." }}/cache-configurations
          hostname: {{ .Values.apiURL }}
      - name: "castai.grpc.services"
        typed_config:
          "@type": type.googleapis.com/castai.grpc.config.v1.Services
          enabled: true
          query_processor_service:
            envoy_grpc:
              cluster_name: query_processor_service

    stats_config:
      stats_matcher:
        exclusion_list:
          patterns:
            - prefix: cluster.castai_cache_

    static_resources:
      listeners:
        {{- if .Values.upstreamPostgresHostname}}
        - name: castai_postgres_listener
          address:
            socket_address:
              address: 0.0.0.0
              port_value: 5432
          filter_chains:
            - filters:
              {{- if .Values.proxy.networkDebug | default false }}
                - name: castai.filters.dump
                  typed_config:
                    "@type": type.googleapis.com/castai.filters.dump.v1.Dump
                    name: frontend
              {{- end }}
                - name: castai.filters.postgres
                  typed_config:
                    "@type": type.googleapis.com/castai.filters.postgres.v1.PostgresConfig
                    common:
                      stat_prefix: postgres
              {{- if .Values.proxy.networkDebug | default false }}
                - name: castai.filters.dump
                  typed_config:
                    "@type": type.googleapis.com/castai.filters.dump.v1.Dump
                    name: backend
              {{- end }}
                - name: envoy.filters.network.tcp_proxy
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
                    stat_prefix: tcp
                    cluster: postgres_upstream
                    idle_timeout: 0s
              transport_socket:
                name: envoy.transport_sockets.starttls
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.transport_sockets.starttls.v3.StartTlsConfig
                  tls_socket_config:
                    common_tls_context:
                      {{- include "proxy.tls.certificates" . | nindent 22 }}
          socket_options:
            - description: "enable keep-alive"
              level: 1 # means socket level options
              name: 9 # means the keep-alive parameter
              int_value: 1 # a nonzero value means "yes"
              state: STATE_PREBIND
            - description: "idle time before first keep-alive probe is sent"
              level: 6 # IPPROTO_TCP
              name: 4 # TCP_KEEPIDLE parameter - The time (in seconds) the connection needs to remain idle before TCP starts sending keepalive probes
              int_value: 60 # seconds
              state: STATE_PREBIND
            - description: "keep-alive interval"
              level: 6 # IPPROTO_TCP
              name: 5 # the TCP_KEEPINTVL parameter - The time (in seconds) between individual keepalive probes.
              int_value: 20 # seconds
              state: STATE_PREBIND
            - description: "keep-alive probes count"
              level: 6 # IPPROTO_TCP
              name: 6 # the TCP_KEEPCNT parameter - The maximum number of keepalive probes TCP should send before dropping the connection
              int_value: 2 # number of failed probes
              state: STATE_PREBIND
        {{- end}}

        {{- range $index, $endpoint := .Values.endpoints}}
        - name: endpoint_listener_{{$index}}
          address:
            socket_address:
              address: 0.0.0.0
              port_value: {{ $endpoint.port }}
          filter_chains:
            - filters:
              {{- if $.Values.proxy.networkDebug | default false }}
                - name: castai.filters.dump
                  typed_config:
                    "@type": type.googleapis.com/castai.filters.dump.v1.Dump
                    name: frontend_{{ $index }}
              {{- end }}
              {{- if eq $.Values.protocol "PostgreSQL" }}
                - name: castai.filters.postgres
                  typed_config:
                    "@type": type.googleapis.com/castai.filters.postgres.v1.PostgresConfig
                    common:
                      stat_prefix: postgres
              {{- else if eq $.Values.protocol "MySQL" }}
                - name: castai.filters.mysql
                  typed_config:
                    "@type": type.googleapis.com/castai.filters.mysql.v1.MySQLConfig
                    common:
                      stat_prefix: mysql
              {{- else }}
              {{- fail (printf "invalid protocol value '%s', available values: 'PostgreSQL', 'MySQL'" .Values.protocol ) -}}
              {{- end }}
              {{- if $.Values.proxy.networkDebug | default false }}
                - name: castai.filters.dump
                  typed_config:
                    "@type": type.googleapis.com/castai.filters.dump.v1.Dump
                    name: backend_{{ $index }}
              {{- end }}
                - name: envoy.filters.network.tcp_proxy
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
                    stat_prefix: proxy_egress_{{ $index }}
                    cluster: endpoint_upstream_{{ $index }}
                    idle_timeout: 0s
              transport_socket:
                name: envoy.transport_sockets.starttls
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.transport_sockets.starttls.v3.StartTlsConfig
                  tls_socket_config:
                    common_tls_context:
                      {{- include "proxy.tls.certificates" $ | nindent 22  }}
          socket_options:
            - description: "enable keep-alive"
              level: 1 # means socket level options
              name: 9 # means the keep-alive parameter
              int_value: 1 # a nonzero value means "yes"
              state: STATE_PREBIND
            - description: "idle time before first keep-alive probe is sent"
              level: 6 # IPPROTO_TCP
              name: 4 # TCP_KEEPIDLE parameter - The time (in seconds) the connection needs to remain idle before TCP starts sending keepalive probes
              int_value: 60 # seconds
              state: STATE_PREBIND
            - description: "keep-alive interval"
              level: 6 # IPPROTO_TCP
              name: 5 # the TCP_KEEPINTVL parameter - The time (in seconds) between individual keepalive probes.
              int_value: 20 # seconds
              state: STATE_PREBIND
            - description: "keep-alive probes count"
              level: 6 # IPPROTO_TCP
              name: 6 # the TCP_KEEPCNT parameter - The maximum number of keepalive probes TCP should send before dropping the connection
              int_value: 2 # number of failed probes
              state: STATE_PREBIND
        {{- end }}
      clusters:
        {{- if .Values.upstreamPostgresHostname}}
        - name: postgres_upstream
          type: LOGICAL_DNS
          dns_lookup_family: ALL
          connect_timeout: 1s
          circuit_breakers:
            thresholds:
              - priority: DEFAULT
                max_connections: {{ .Values.proxy.connectionLimits.maxConnections | default 1024 }}
                max_pending_requests: {{ .Values.proxy.connectionLimits.maxPendingRequests | default 1024 }}
                max_requests: {{ .Values.proxy.connectionLimits.maxRequests | default 1024 }}
                max_retries: {{ .Values.proxy.connectionLimits.maxRetries | default 3 }}
          load_assignment:
            cluster_name: postgres_upstream
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: {{ required "upstreamPostgresHostname must be provided" .Values.upstreamPostgresHostname }}
                          port_value: {{ .Values.upstreamPostgresPort | default 5432 }}
          transport_socket:
            name: envoy.transport_sockets.start_tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.starttls.v3.UpstreamStartTlsConfig
              tls_socket_config:
                sni: {{ required "upstreamPostgresHostname must be provided" .Values.upstreamPostgresHostname }}
                common_tls_context:
                  tls_params:
                    tls_maximum_protocol_version: TLSv1_3
        {{- end }}

        {{- range $index, $endpoint := .Values.endpoints}}
        - name: endpoint_upstream_{{ $index }}
          type: LOGICAL_DNS
          dns_lookup_family: ALL
          connect_timeout: 1s
          upstream_connection_options:
            tcp_keepalive:
              keepalive_interval: 5
              keepalive_probes: 3
              keepalive_time: 30
          circuit_breakers:
            thresholds:
              - priority: DEFAULT
                max_connections: {{ $.Values.proxy.connectionLimits.maxConnections | default 1024 }}
                max_pending_requests: {{ $.Values.proxy.connectionLimits.maxPendingRequests | default 1024 }}
                max_requests: {{ $.Values.proxy.connectionLimits.maxRequests | default 1024 }}
                max_retries: {{ $.Values.proxy.connectionLimits.maxRetries | default 3 }}
          load_assignment:
            cluster_name: endpoint_upstream_{{ $index }}
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          {{- if and $.Values.pooling $.Values.pooling.enabled }}
                          address: 127.0.0.1 # local pgcat in same pod
                          port_value: {{ add $endpoint.port 100 }} # pgcat port
                          {{- else }}
                          address: {{ required "endpoint hostname must be provided" $endpoint.hostname }} # upstream database host
                          port_value: {{ required "endpoint targetPort is required" $endpoint.targetPort }} # upstream database port
                          {{- end }}
          transport_socket:
            name: envoy.transport_sockets.start_tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.starttls.v3.UpstreamStartTlsConfig
              tls_socket_config:
                sni: {{ required "endpoint hostname must be provided" $endpoint.hostname }}
                common_tls_context:
                  tls_params:
                    tls_maximum_protocol_version: TLSv1_3
        {{- end }}

        - name: {{ .Values.apiURL }}
          type: LOGICAL_DNS
          dns_lookup_family: {{ .Values.proxy.dnsLookupFamily }}
          connect_timeout: 2s
          load_assignment:
            cluster_name: {{ .Values.apiURL }}
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: {{ .Values.apiURL }}
                          port_value: 443

          health_checks:
            - timeout: 1s
              interval: 5s
              no_traffic_interval: 5s
              unhealthy_threshold: 3
              healthy_threshold: 1
              custom_health_check:
                name: "castai.cluster_control.health_check"
                typed_config:
                  "@type": type.googleapis.com/castai.cluster_control.v1.ClusterControlHealthCheck

          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              common_tls_context:
                tls_params:
                  tls_minimum_protocol_version: TLSv1_2
                {{- include "proxy.tls.certificates" . | nindent 16 }}
              sni: {{ .Values.apiURL }}

        - name: query_processor_service
          type: LOGICAL_DNS
          connect_timeout: 1s
          http2_protocol_options:
            max_concurrent_streams: 100
            initial_stream_window_size: 1048576
            initial_connection_window_size: 1048576
          load_assignment:
            cluster_name: query_processor_service
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: 127.0.0.1
                          port_value: 9050
    admin:
      access_log_path: "/tmp/admin_access.log"
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 9901
