{{- if and .Values.pgdog .Values.pgdog.enabled }}
{{- $defaults := dict
  "workers" 10
  "default_pool_size" 10
  "pooler_mode" "transaction"
  "prepared_statements" "extended_anonymous"
  "healthcheck_interval" 30000
  "idle_healthcheck_interval" 30000
  "idle_healthcheck_delay" 5000
  "healthcheck_timeout" 5000
  "rollback_timeout" 5000
  "connect_timeout" 5000
  "checkout_timeout" 10000
  "shutdown_timeout" 60000
  "query_parser_enabled" true
  "tls_certificate" "/etc/ssl/certs/ssl-cert-snakeoil.pem"
  "tls_private_key" "/etc/ssl/private/ssl-cert-snakeoil.key"
  "tls_verify" "prefer"
  "log_connections" false
  "log_disconnections" false
  "prepared_statements_limit" 5000
  "query_cache_limit" 500
-}}
{{- $userConfig := .Values.pgdog.config | default dict -}}
{{- $mergedConfig := merge (deepCopy $userConfig) $defaults -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "name" . }}-pgdog-config
  labels:
    {{- include "labels" . | nindent 4 }}
  annotations:
    {{- include "annotations" . | nindent 4 }}
data:
  pgdog.toml: |
    [general]
    port             = 6432
    openmetrics_port = 9090
    openmetrics_namespace = "pgdog_"

    {{- range $key, $value := $mergedConfig }}
    {{- if kindIs "string" $value }}
    {{ $key | printf "%-25s" }} =   {{ $value | quote }}
    {{- else }}
    {{ $key | printf "%-25s" }} =   {{ $value }}
    {{- end }}
    {{- end }}

    [admin]
    name = "admin"
    user = "admin"
    password = "admin"

    {{- if and $.Values.cloudSqlProxy $.Values.cloudSqlProxy.enabled }}
    [[databases]]
    name = "cloudsql"
    host = "127.0.0.1"
    port = {{ $.Values.cloudSqlProxy.basePort }}
    pool_size = 100
    {{- else }}
    {{- range $index, $endpoint := .Values.endpoints }}

    [[databases]]
    name = "{{ $endpoint.name | default (ternary "default" (printf "default%d" $index) (eq $index 0)) }}"
    host = "{{ required "endpoint hostname must be provided" $endpoint.hostname }}"
    port = {{ required "endpoint targetPort is required" $endpoint.targetPort }}
    {{- end }}
    {{- end }}
{{- end }}
