{{- if and .Values.pgdog .Values.pgdog.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "name" . }}-pgdog-config
  labels:
    {{- include "labels" . | nindent 4 }}
  annotations:
    {{- include "annotations" . | nindent 4 }}
data:
  pgdog.toml: |
    [general]
    port                      =   6432
    workers                   =   {{ .Values.pgdog.config.workers }}
    default_pool_size         =   {{ .Values.pgdog.config.defaultPoolSize }}
    pooler_mode               =   {{ .Values.pgdog.config.poolerMode | quote }}
    prepared_statements       =   {{ .Values.pgdog.config.preparedStatements | quote }}

    healthcheck_interval      =   {{ .Values.pgdog.config.healthcheckInterval }}
    idle_healthcheck_interval =   {{ .Values.pgdog.config.idleHealthcheckInterval }}
    idle_healthcheck_delay    =   {{ .Values.pgdog.config.idleHealthcheckDelay }}
    healthcheck_timeout       =   {{ .Values.pgdog.config.healthcheckTimeout }}
    rollback_timeout          =   {{ .Values.pgdog.config.rollbackTimeout }}
    connect_timeout           =   {{ .Values.pgdog.config.connectTimeout }}
    checkout_timeout          =   {{ .Values.pgdog.config.checkoutTimeout }}
    shutdown_timeout          =   {{ .Values.pgdog.config.shutdownTimeout }}

    query_parser_enabled      =   {{ .Values.pgdog.config.queryParserEnabled }}
    tls_certificate           =   {{ .Values.pgdog.config.tlsCertificate | quote }}
    tls_private_key           =   {{ .Values.pgdog.config.tlsPrivateKey | quote }}
    tls_verify                =   {{ .Values.pgdog.config.tlsVerify | quote }}

    log_connections           =   {{ .Values.pgdog.config.logConnections }}
    log_disconnections        =   {{ .Values.pgdog.config.logDisconnections }}


    {{- if and $.Values.cloudSqlProxy $.Values.cloudSqlProxy.enabled }}
    [[databases]]
    name = "cloudsql"
    host = "127.0.0.1"
    port = {{ $.Values.cloudSqlProxy.basePort }}
    pool_size = 100
    {{- else }}
    {{- range $index, $endpoint := .Values.endpoints }}
    [[databases]]
    name = "{{ printf "ep%d" $index }}"
    host = "{{ required "endpoint hostname must be provided" $endpoint.hostname }}"
    port = {{ required "endpoint targetPort is required" $endpoint.targetPort }}
    {{- end }}
    {{- end }}
{{- end }}
