{{- if and .Values.pgdog .Values.pgdog.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "name" . }}-pgdog-config
  labels:
    {{- include "labels" . | nindent 4 }}
  annotations:
    {{- include "annotations" . | nindent 4 }}
data:
  pgdog.toml: |
    [general]
    port                      =   6432
    workers                   =   10
    default_pool_size         =   10
    pooler_mode               =   "transaction"
    prepared_statements       =   "extended_anonymous"

    healthcheck_interval      =   30_000
    idle_healthcheck_interval =   30_000
    idle_healthcheck_delay    =   5_000
    healthcheck_timeout       =   5_000
    rollback_timeout          =   5_000
    connect_timeout           =   5_000
    checkout_timeout          =   10000
    shutdown_timeout          =   60_000

    query_parser_enabled      =   true
    tls_certificate           =   "/etc/ssl/certs/ssl-cert-snakeoil.pem"
    tls_private_key           =   "/etc/ssl/private/ssl-cert-snakeoil.key"
    tls_verify                =   "prefer"

    log_connections           =   false
    log_disconnections        =   false


    {{- if and $.Values.cloudSqlProxy $.Values.cloudSqlProxy.enabled }}
    [[databases]]
    name = "cloudsql"
    host = "127.0.0.1"
    port = {{ $.Values.cloudSqlProxy.basePort }}
    pool_size = 100
    {{- else }}
    {{- range $index, $endpoint := .Values.endpoints }}
    [[databases]]
    name = "{{ printf "ep%d" $index }}"
    host = "{{ required "endpoint hostname must be provided" $endpoint.hostname }}"
    port = {{ required "endpoint targetPort is required" $endpoint.targetPort }}
    {{- end }}
    {{- end }}
{{- end }}
