---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: omni-agent
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: omni-manager-role
subjects:
  - kind: ServiceAccount
    name: {{ include "omni-agent.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: omni-manager-role
rules:
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
      - update
      - get
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - nodes/status
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - list
      - watch
  - apiGroups:
      - omni.cast.ai
    resources:
      - clusters
      - edges
      - schedulingpolicies
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - omni.cast.ai
    resources:
      - clusters/finalizers
      - edges/finalizers
      - schedulingpolicies/finalizers
    verbs:
      - update
  - apiGroups:
      - omni.cast.ai
    resources:
      - clusters/status
      - edges/status
      - schedulingpolicies/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - authentication.liqo.io
      - core.liqo.io
      - ipam.liqo.io
      - networking.liqo.io
      - offloading.liqo.io
    resources:
      - '*'
    verbs:
      - '*'
  - apiGroups:
      - ''
    resources:
      - namespaces
      - secrets
    verbs:
      - '*'
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - watch
---
## Enable CastAI Cluster controller to do more with Edges and Clusters
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: omni-cluster-controller-role
rules:
  - apiGroups:
      - omni.cast.ai
    resources:
      - clusters
      - edges
      - schedulingpolicies
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - omni.cast.ai
    resources:
      - clusters/finalizers
      - edges/finalizers
      - schedulingpolicies/finalizers
    verbs:
      - update
  - apiGroups:
      - omni.cast.ai
    resources:
      - clusters/status
      - edges/status
      - schedulingpolicies/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - namespaces
      - secrets
    verbs:
      - create
      - get
      - list
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: omni-cluster-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: omni-cluster-controller-role
subjects:
  - kind: ServiceAccount
    name: castai-cluster-controller
    namespace: castai-agent
## Local permissions to the namespace for the agent
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: omni-manager-role-local
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
## Local binding
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: omni-manager-role-local
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: omni-manager-role-local
subjects:
  - kind: ServiceAccount
    name: {{ include "omni-agent.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
