# Default values for castai-audit-logs-receiver.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: us-docker.pkg.dev/castai-hub/library/audit-logs-receiver
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# castai - -CAST AI API configuration.
castai:
  # castai.apiKey -- Token to be used for authorizing access to the CASTAI API.
  apiKey: ""

  # castai.apiKeySecretRef -- Name of secret with Token to be used for authorizing access to the API.
  # apiKey and apiKeySecretRef are mutually exclusive.
  # The referenced secret must provide the token in .data["CASTAI_API_KEY"].
  apiKeySecretRef: ""

  # castai.apiURL -- CASTAI public api url.
  apiURL: "https://api.cast.ai"

# commonAnnotations -- Annotations to add to all resources.
commonAnnotations: {}

# commonLabels -- Labels to add to all resources.
commonLabels: {}

# nameOverride -- Override the name of the chart.
nameOverride: ""

# fullnameOverride -- Override the release name used for the full names of resources.
fullnameOverride: ""

# podAnnotations -- Annotations to be added to pods.
podAnnotations: {}

# podLabels -- Labels to be added to pods.
podLabels: {}

# Pod security context.
# Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
podSecurityContext: {}

# Container security context.
# Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
containerSecurityContext: {}

# Resource limits & requests.
resources: {}

# Pod node selector rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
nodeSelector: {}

# Pod toleration rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

# Pod affinity rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

rollout:
  rollingUpdate: {}
  strategy: RollingUpdate

configMap:
  # configMap.create -- Specifies whether a configMap should be created.
  create: true

# hostNetwork -- Host networking requested for this pod. Use the host's network namespace.
hostNetwork: false

## Persist collector state to a persistent volume.
persistence:
  enabled: true
  # Name of an existing PersistentVolumeClaim to use.
  existingClaim: ""
  storageClass: ""
  accessMode: ReadWriteOnce
  size: 50M
  annotations: {}

statefulset:
  podManagementPolicy: "Parallel"

## OpenTelemetry Collector configuration.
## Ref: https://opentelemetry.io/docs/collector/configuration/
config:
  receivers:
    # config.receivers.castai-audit-logs - Configuration for CAST AI receiver.
    castai-audit-logs:
      api:
        # config.receivers.castai-audit-logs.api.url -- Use CASTAI_API_URL env variable to override default API URL (https://api.cast.ai/).
        url: ${env:CASTAI_API_URL}
        # config.receivers.castai-audit-logs.api.key -- Use CASTAI_API_KEY env variable to provide API Access Key.
        key: ${env:CASTAI_API_KEY}
      # config.receivers.castai-audit-logs.poll_interval_sec -- This parameter defines poll cycle in seconds.
      poll_interval_sec: 10
      # config.receivers.castai-audit-logs.page_limit -- This parameter defines the max number of records returned from the backend in one page.
      page_limit: 100
      storage:
        type: "persistent"
        filename: "/var/lib/otelcol/file_storage/audit_logs_poll_data.json"
      # config.receivers.castai-audit-logs.filters -- Optional configuration for filtering scraped audit logs
      filters:
        # config.receivers.castai-audit-logs.filters -- This optional parameters defines cluster id for which logs should be scraped.
        cluster_id: ""

  exporters:
    logging:
      verbosity: detailed
      sampling_initial: 5
      sampling_thereafter: 200

  extensions:
    # The health_check extension is mandatory for this chart.
    # Without the health_check extension the collector will fail the readiness and liveliness probes.
    # The health_check extension can be modified, but should never be removed.
    health_check: {}

  service:
    extensions: [health_check]
    telemetry:
      logs:
        level: "debug"
    pipelines:
      logs:
        receivers: [castai-audit-logs]
        exporters: [logging]
