replicas: 2

# -- URL to the CAST AI API server.
apiURL: "api.cast.ai"

# -- Token to be used for authorizing access to the CAST AI API.
#
apiKey: ""

# apiKeySecretRef -- Name of secret with Token to be used for authorizing DBO access to the API
# apiKey and apiKeySecretRef are mutually exclusive
# The referenced secret must provide the token in .data["API_KEY"].
apiKeySecretRef: ""

# -- ID of the cache group for which cache configuration should be pulled.
#
cacheGroupID: ""

# protocol -- Specifies database protocol to be used for communication and query parsing.
protocol: "PostgreSQL"

# commonLabels -- Labels to add to all resources.
commonLabels: {}

# commonAnnotations -- Annotations to add to all resources.
commonAnnotations: {}

# -- Extra labels to add to the pod.
podLabels: {}

# -- Extra annotations to add to the pod.
podAnnotations: {}

resources:
  proxy:
    cpu: "500m"
    memoryRequest: "2Gi"
    memoryLimit: "2Gi"
  queryProcessor:
    cpu: "2"
    memory: "1Gi"

# -- deprecated: Hostname of the upstream Postgres instance.
upstreamPostgresHostname: ""
# -- deprecated: Port of the upstream Postgres instance.
upstreamPostgresPort: 5432


# -- A list of upstream database endpoints
endpoints:
  -
    # -- Hostname of the upstream database instance.
    hostname: sample-db-hostname
    # -- Port for the endpoint on DBO pod.
    port: 5433
    # -- Port of the upstream database instance.
    targetPort: 5432
    # -- Name of the service. If this value is not empty, then additional cluster IP service will be deployed, using provided name as a suffix
    name:
    # -- Port of the named service
    servicePort: 5432
    # -- Envoy service discovery settings.
    # Ref: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto.html
    serviceDiscovery:
      # -- The service discovery type to use for resolving the cluster. Available options: LOGICAL_DNS and STRICT_DNS.
      # Ref: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/service_discovery
      type: LOGICAL_DNS
      dns_lookup_family: ALL
      respect_dns_ttl: true
      dns_refresh_rate: 5000ms

proxy:
  # -- Default proxy log level.
  logLevel: "filter:info"
  # -- Number of parallel processing streams. This needs to be balanced with cpu resources for proxy and QP.
  concurrency: 12
  # -- DNS lookup mode when communicating to outside. will prioritize IPV4 addresses. change to V6_ONLY to use v6 addresses instead.
  dnsLookupFamily: V4_PREFERRED
  # -- Defines "emptyDir.medium" value for data storage volume. Set to "Memory" for tmpfs disk
  dataStorageMedium: Memory
  # -- Predrain timeout in seconds.
  drainPreHook: 2
  # -- Default drain time in seconds.
  drainTimeSeconds: 60
  # -- Extra network debug logging.
  networkDebug: false
  # -- Name of a Kubernetes TLS Secret that contains the key pair to use for configuring TLS in the proxy. If not set, defaults to using a built-in key pair.
  tlsSecretName:
  # -- Envoy upstream connection limits, numbers given are the envoy defaults.
  connectionLimits:
    maxConnections: 10000          # Maximum number of connections per instance.
    maxPendingRequests: 1024       # Maximum requests queued while waiting for a connection
    maxRequests: 1024              # Maximum parallel requests per connection
    maxRetries: 3                  # Maximum parallel retries
  # -- Disable core dump collection by default
  coredumpCollectionMode: "None"
  # -- Enable experimental cache in dbo proxy.
  cache:                          # Currently only used if experimentalCache is true
    # -- Maximum cache size in bytes, _should_ be divisible by cacheShards
    cacheSizeBytes: 2147483648    # 2 GiB
    # -- Number of cache shards _must_ be power of 2
    cacheShards: 64
    # -- Maximum size of in-flight cache entries, _should_ be divisible by pendingShards
    pendingSizeBytes: 134217728  # 128 MiB
    # -- Number of in-flight cache shards _must_ be power of 2
    pendingShards: 64

queryProcessor:
  # -- Default query-processor log level.
  logLevel: "warn"
  # -- Default query-processor query cache size.
  queryCacheSize: 100000
  # -- Number of worker threads. This should ideally be tuned around 1.5 - 2x times more than expected amount of CPU usage.
  concurrency: 10
  # -- Enable additional debugging features to aid troubleshooting.
  debug: false

pooling:
  # -- Enable connection pooling sidecar.
  enabled: false
  # -- Pooling log level, must be one of error, warn, info, debug, trace, off
  logLevel: "info"
  # -- List of database names to create pools for (required when pooling is enabled)
  databases: []
  # -- Listen address for PgCat
  listenAddress: "0.0.0.0"
  # -- Pool mode (session or transaction)
  poolMode: "transaction"
  # -- Load balancing mode (random or loc)
  loadBalancingMode: "random"
  # -- Default role (any, primary, replica)
  defaultRole: "any"
  # -- Maximum pool size per user
  poolSize: 20
  # -- Minimum pool size per user
  minPoolSize: 5
  # -- Connect timeout in milliseconds
  connectTimeout: 1000
  # -- Idle timeout in milliseconds
  idleTimeout: 30000
  # -- Server lifetime in milliseconds
  serverLifetime: 86400000
  # -- Enable TLS for server connections
  serverTLS: true
  # -- Verify server certificate when using TLS
  verifyServerCertificate: false
  # -- Path to TLS certificate for server connections (PEM format)
  tlsCertificateFilePath: ""
  # -- Path to TLS private key for server connections (PEM format)
  tlsPrivateKeyFilePath: ""
  # -- Health check timeout in milliseconds
  healthcheckTimeout: 1000
  # -- Health check delay in milliseconds
  healthcheckDelay: 30000
  # -- Ban time in seconds
  banTime: 60
  # -- Log client connections
  logClientConnections: false
  # -- Log client disconnections
  logClientDisconnections: false
  # -- Username for database authentication
  username: ""
  # -- Password for database authentication
  password: ""
  # -- Name of secret with username for database authentication
  credentialsSecretRef: ""
  # -- Size of prepared statements cache
  preparedStatementsCacheSize: 1000

cloudSqlProxy:
  # -- Enable Cloud SQL Proxy sidecar
  enabled: false
  # -- Starting number from which unique ports are sequentially assigned to each upstream Cloud SQL instance
  basePort: 10000
  # -- Have the proxy connect over private IP if connecting from a VPC-native GKE cluster
  privateIp: false
  # -- Have the proxy connect with Automatic IAM authentication
  autoIamAuthn: false

queryProcessorImage:
  repository: us-docker.pkg.dev/castai-hub/library/query-processor
  pullPolicy: IfNotPresent
  tag: ""  # uses values from _versions.tpl for default value

proxyImage:
  repository: us-docker.pkg.dev/castai-hub/library/dbo-proxy
  pullPolicy: IfNotPresent
  tag: ""  # uses values from _versions.tpl for default value

cloudSqlProxyImage:
  repository: gcr.io/cloud-sql-connectors/cloud-sql-proxy
  pullPolicy: IfNotPresent
  tag: ""  # uses values from _versions.tpl for default value

pgcatImage:
  repository: us-docker.pkg.dev/castai-hub/library/dbo-pooling-pgcat
  pullPolicy: IfNotPresent
  tag: "v1.2.0-embedded-ssl"

# -- The name of the service account to be used by the pod.
# Ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
serviceAccountName: ""

# -- Pod toleration rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: {}

# -- Pod node selector rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
nodeSelector: {}

# -- Pod affinity rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
                # this will get replaced with actual app name
                - APP_NAME
        topologyKey: kubernetes.io/hostname

  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/os
              operator: NotIn
              values:
                - windows
            - key: kubernetes.io/arch
              operator: In
              values:
                - amd64
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        preference:
          matchExpressions:
            - key: provisioner.cast.ai/managed-by
              operator: In
              values:
                - cast.ai
