replicas: 2

# -- URL to the CAST AI API server.
apiURL: "api.cast.ai"

# -- Token to be used for authorizing access to the CAST AI API.
#
apiKey: ""

# apiKeySecretRef -- Name of secret with Token to be used for authorizing DBO access to the API
# apiKey and apiKeySecretRef are mutually exclusive
# The referenced secret must provide the token in .data["API_KEY"].
apiKeySecretRef: ""

# -- ID of the cache group for which cache configuration should be pulled.
#
cacheGroupID: ""

# protocol -- Specifies database protocol to be used for communication and query parsing.
protocol: "PostgreSQL"

# commonLabels -- Labels to add to all resources.
commonLabels: {}

# commonAnnotations -- Annotations to add to all resources.
commonAnnotations: {}

# -- Extra labels to add to the pod.
podLabels: {}

# -- Extra annotations to add to the pod.
podAnnotations: {}

# -- feature flag to support both old and new style of upstream routing
useDefaultRouting: false

resources:
  proxy:
    cpu: "500m"
    memoryRequest: "2Gi"
    memoryLimit: "2Gi"
    # -- max allowed database size in disk.
    cacheDbSizeBytes: 1000000000
    # -- maximum number of entries to keep in the proxy.
    maxCacheEntries: 1000000000
  queryProcessor:
    cpu: "2"
    memory: "1Gi"

# -- deprecated: Hostname of the upstream Postgres instance.
upstreamPostgresHostname: ""
# -- deprecated: Port of the upstream Postgres instance.
upstreamPostgresPort: 5432


# -- A list of upstream database endpoints
endpoints:
  -
    # -- Hostname of the upstream database instance.
    hostname: sample-db-hostname
    # -- Port for the endpoint on DBO pod.
    port: 5433
    # -- Port of the upstream database instance.
    targetPort: 5432
    # -- Name of the service. If this value is not empty, then additional cluster IP service will be deployed, using provided name as a suffix
    name:
    # -- Port of the named service
    servicePort: 5432

proxy:
  # -- Default proxy log level.
  logLevel: "filter:info"
  # -- Ensure proxy has retrieved initial cache configuration before accepting connections.
  readinessProbeEnabled: true
  # -- Ensure proxy is alive and healthy.
  livenessProbeEnabled: true
  # -- Number of parallel processing streams. This needs to be balanced with cpu resources for proxy and QP.
  concurrency: 12
  # -- DNS lookup mode when communicating to outside. will prioritize IPV4 addresses. change to V6_ONLY to use v6 addresses instead.
  dnsLookupFamily: V4_PREFERRED
  # -- Defines "emptyDir.medium" value for data storage volume. Set to "Memory" for tmpfs disk
  dataStorageMedium: Memory
  # -- Predrain timeout in seconds.
  drainPreHook: 2
  # -- Default drain time in seconds.
  drainTimeSeconds: 60
  # -- Extra network debug logging.
  networkDebug: false
  # -- Ratio of used available bytes or entries from which we start evicting.
  evictionThreshold: 0.5
  # -- Ratio of used available bytes or entries from which we stop caching.
  stopCachingThreshold: 0.95
  # -- The size of one batch for writing.
  writeBatchSize: 100
  # -- The delay of one batch for writing.
  writeBatchDelayMs: 100
  # -- The period of the stats thread.
  statsThreadPeriodMs: 1000
  # -- The period of the evictions thread.
  evictionThreadPeriodMs: 100
  # -- Envoy upstream connection limits, numbers given are the envoy defaults.
  connectionLimits:
    maxConnections: 1024           # Maximum connections per cluster
    maxPendingRequests: 1024       # Maximum requests queued while waiting for a connection
    maxRequests: 1024              # Maximum parallel requests per connection
    maxRetries: 3                  # Maximum parallel retries

queryProcessor:
  # -- Default query-processor log level.
  logLevel: "warn"
  # -- Default query-processor query cache size.
  queryCacheSize: 100000
  # -- Number of worker threads. This should ideally be tuned around 1.5 - 2x times more than expected amount of CPU usage.
  concurrency: 10


queryProcessorImage:
  repository: us-docker.pkg.dev/castai-hub/library/query-processor
  pullPolicy: IfNotPresent
  tag: ""  # uses values from _versions.tpl for default value

proxyImage:
  repository: us-docker.pkg.dev/castai-hub/library/dbo-proxy
  pullPolicy: IfNotPresent
  tag: ""  # uses values from _versions.tpl for default value

# -- Pod toleration rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: {}

# -- Pod node selector rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
nodeSelector: {}

# -- Pod affinity rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
                # this will get replaced with actual app name
                - APP_NAME
        topologyKey: kubernetes.io/hostname

  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/os
              operator: NotIn
              values:
                - windows
            - key: kubernetes.io/arch
              operator: In
              values:
                - amd64
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        preference:
          matchExpressions:
            - key: provisioner.cast.ai/managed-by
              operator: In
              values:
                - cast.ai
