apiVersion: v2
name: castai-cluster-controller
description: Cluster controller is responsible for handling certain Kubernetes actions such as draining and deleting nodes, adding labels, approving CSR requests.
type: application
version: 0.87.0
appVersion: "v0.60.0" # TODO: change this!
annotations:
  release-date: "2024-06-04T07:10:07"
dependencies:
  - name: castai-cluster-controller-ext
    repository: file://child-charts/castai-cluster-controller-ext
    version: 0.1.0
    condition: castai-cluster-controller-ext.enabled
