# Default values for castai-cluster-controller.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
namespace: "castai-agent"

nameOverride: ""
fullnameOverride: castai-cluster-controller

# By default namespace is expected to be created by castai-agent.
createNamespace: false

image:
  repository: castai/cluster-controller
  tag: "" # Set using Chart.yaml appVersion field.
  pullPolicy: IfNotPresent


# Token to be used for authorizing agent access to the API
apiKey: ""

# URL to the API server
apiURL: ""

clusterID: ""
podAnnotations: {}
additionalEnv:
  PPROF_PORT: "6060"
  LOG_LEVEL: "5"

resources:
  requests:
    cpu: 100m
  limits:
    cpu: 500m


serviceAccount:
  # Annotations to add to the service account.
  annotations: {}
