apiVersion: v2
name: castai-umbrella
description: Umbrella chart for CAST AI components with profile-based installation.
type: application
version: 0.1.0

dependencies:
  - name: kent
    version: "0.1.0"
    repository: "file://charts/kent"
    condition: kent.enabled

  - name: autoscaler
    version: "0.1.0"
    repository: "file://charts/autoscaler"
    condition: autoscaler.enabled
