{{- if or .Values.kent.enabled .Values.autoscaler.enabled }}
{{- if not .Values.global.castai.apiKey }}
{{ fail "global.castai.apiKey is required when enabling kent or autoscaler profile (set --set global.castai.apiKey=<API_KEY>)" }}
{{- end }}
{{- $autoscalerSpotHandler := index .Values.autoscaler "spot-handler" | default dict }}
{{- $autoscalerSpotHandlerCastai := index $autoscalerSpotHandler "castai" | default dict }}
{{- $global := .Values.global | default dict }}
{{- $globalCastai := index $global "castai" | default dict }}
{{- if and .Values.autoscaler.enabled (not (or .Values.autoscaler.agent.provider (index $globalCastai "provider"))) }}
{{ fail "autoscaler agent provider is required when autoscaler profile is enabled (set either --set autoscaler.agent.provider=<eks|aks|gke|kops|anywhere> or --set global.castai.provider=<eks|aks|gke|kops|anywhere>)" }}
{{- end }}
{{- if and .Values.autoscaler.enabled (not (or (index $autoscalerSpotHandlerCastai "provider") (index $globalCastai "provider"))) }}
{{ fail "autoscaler spot-handler provider is required when autoscaler profile is enabled (set either --set autoscaler.spot-handler.castai.provider=<aws|azure|gcp> or --set global.castai.provider=<eks|aks|gke|aws|azure|gcp>)" }}
{{- end }}
{{- end }}
