{{- $pdbEnabled := true }}
{{- if hasKey .Values "pdb" }}
{{- $pdbEnabled = .Values.pdb.enabled }}
{{- end }}
{{- if and $pdbEnabled (gt (int .Values.replicas) 1) }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  namespace: {{ .Values.namespace }}
  name: {{ include "workload-autoscaler.fullname" . }}
  labels:
  {{- include "workload-autoscaler.labels" . | nindent 4 }}
  {{ if .Values.commonAnnotations -}}
  annotations:
    {{- include "workload-autoscaler.annotations" . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.pdb.maxUnavailable }}
  maxUnavailable: {{ .Values.pdb.maxUnavailable }}
  {{- else }}
  minAvailable: {{ .Values.pdb.minAvailable | default 1 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "workload-autoscaler.selectorLabels" . | nindent 6 }}
{{- end }}
