{{- if .Values.castai.apiKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: workload-autoscaler
  namespace: {{ default .Release.Namespace .Values.namespace }}
  labels:
    {{- include "workload-autoscaler.labels" . | nindent 4 }}
  {{ if .Values.commonAnnotations -}}
  annotations:
    {{- include "workload-autoscaler.annotations" . | nindent 4 }}
  {{- end }}
data:
  API_KEY: {{ required "apiKey must be provided" .Values.castai.apiKey | b64enc | quote }}
{{- end }}