apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "evictor.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- if .Values.managedByCASTAI }}
    charts.cast.ai/managed: "true"
    {{- else }}
    charts.cast.ai/managed: "false"
    {{- end }}
    {{- include "evictor.labels" . | nindent 4 }}
  {{ if gt (len .Values.commonAnnotations) 0 -}}
  annotations:
    {{- include "evictor.annotations" . | nindent 4 }}
  {{- end }}
spec:
  strategy:
    {{- .Values.updateStrategy | toYaml | nindent 4 }}
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "evictor.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "evictor.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.hostNetwork.enabled }}
      hostNetwork: true
      {{- end }}
      {{- if .Values.dnsPolicy }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- end }}
      {{- with .Values.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "evictor.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          env:
            - name: IN_CLUSTER
              value: "true"
            - name: LEADER_ELECTION_ENABLED
              value: {{ .Values.leaderElection.enabled | quote }}
            - name: LEADER_ELECTION_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: SERVER_PORT
              value: "8080"
            - name: DRY_RUN
              value: {{ .Values.dryRun | quote }}
            - name: AGGRESSIVE_MODE
              value: {{ .Values.aggressiveMode | quote }}
            - name: LIVE_MIGRATION_ENABLED
              value: {{ .Values.liveMigration.enabled | quote }}
            - name: LIVE_MIGRATION_USE_K8S_CLIENT_CACHE
              value: {{ .Values.liveMigration.useK8sClientCache | quote }}
            - name: WOOP_ENABLED
              value: {{ .Values.woop.enabled | quote }}
            - name: WOOP_USE_K8S_CLIENT_CACHE
              value: {{ .Values.woop.useK8sClientCache | quote }}
            - name: SCOPED_MODE
              value: {{ .Values.scopedMode | quote }}
            - name: NODE_GRACE_PERIOD_MINUTES
              value: {{ .Values.nodeGracePeriodMinutes | quote }}
            - name: MAX_TARGET_NODES_PER_CYCLE
              value: {{ .Values.maxNodesToEvictPerCycle | quote }}
            - name: EVICTION_SETTINGS_CONFIG_PATH
              value: "/config/config.yaml"
            - name: CYCLE_INTERVAL
              value: {{ .Values.cycleInterval | quote }}
            - name: K8S_CLIENT_RATE_LIMITER_QPS
              value: {{ .Values.kubernetesClient.rateLimiter.qps | quote }}
            - name: K8S_CLIENT_RATE_LIMITER_BURST
              value: {{ .Values.kubernetesClient.rateLimiter.burst | quote }}
            {{- if .Values.clusterIdSecretKeyRef.name }}
            {{- if ne .Values.clusterIdConfigMapKeyRef.name "" }}
            {{- fail "clusterIdConfigMapKeyRef and clusterIdSecretKeyRef are mutually exclusive" }}
            {{- end }}
            - name: CLUSTER_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.clusterIdSecretKeyRef.name }}
                  key: {{ .Values.clusterIdSecretKeyRef.key }}
            {{- end }}
            {{- if .Values.clusterIdConfigMapKeyRef.name }}
            - name: CLUSTER_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.clusterIdConfigMapKeyRef.name }}
                  key: {{ .Values.clusterIdConfigMapKeyRef.key }}
                  optional: false
            {{- end }}
            {{- range $name, $value := .Values.additionalEnv }}
            - name: "{{ $name }}"
              value: "{{ $value }}"
            {{- end }}
          envFrom:
          {{- with .Values.envFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if not .Values.overrideEnvFrom}}
            - secretRef:
                {{- if .Values.apiKeySecretRef }}
                name: {{ .Values.apiKeySecretRef }}
                {{- else }}
                name: castai-cluster-controller
                {{- end }}
                optional: false
            - configMapRef:
                name: castai-cluster-controller
                optional: false
            - configMapRef:
                name: {{ include "evictor.name" . }}-config
                optional: false
            {{- if .Values.trustedCACert }}
            - secretRef:
                name: {{ include "evictor.fullname" . -}}-tls-cert
            {{- else if .Values.trustedCACertSecretRef }}
            - secretRef:
                name: {{ .Values.trustedCACertSecretRef -}}
            {{- end }}
          {{- end }}
          {{/* we don't set resources if Cluster proportional vertical autoscaler is enabled */}}
          resources:
          {{- if .Values.clusterVPA.enabled -}}
          {{/* we hardcode CPU req/limit for now */}}
            requests:
              cpu: 100m
            limits:
              cpu: 1000m
          {{- else -}}
            {{ .Values.resources | toYaml | nindent 12 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
          volumeMounts:
            - mountPath: /config
              name: cfg
              readOnly: true
            {{- with .Values.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        - name: cfg
          configMap:
            name: {{ include "evictor.name" . }}-config
        {{- with .Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
