{{- if .Values.rbac.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "evictor.serviceAccountName" . }}
  labels:
    {{- include "evictor.labels" . | nindent 4 }}
  {{ if gt (len .Values.commonAnnotations) 0 -}}
  annotations:
    {{- include "evictor.annotations" . | nindent 4 }}
  {{- end -}}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "evictor.serviceAccountName" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "evictor.serviceAccountName" . }}
    namespace: {{ .Release.Namespace | quote }}
{{- end }}
