# Placeholder defaults for Autoscaler profile.
# TODO: tune ALL these values for production autoscaler rollout.

agent:
  enabled: true
  replicaCount: 1
  apiKeySecretRef: castai-credentials
  createNamespace: false

spot-handler:
  enabled: true
  apiKeySecretRef: castai-credentials
  castai:
    # Optional: can be inherited from global.castai.provider with alias mapping
    # in spot-handler (eks->aws, aks->azure, gke->gcp).
    provider: ""
    clusterIdConfigMapKeyRef:
      name: castai-agent-metadata
      key: CLUSTER_ID

cluster-controller:
  enabled: true
  castai:
    apiKeySecretRef: castai-credentials
  envFrom:
    - configMapRef:
        name: castai-agent-metadata
  autoscaling:
    # TODO: validate autoscaler profile setting.
    enabled: true

workload-autoscaler:
  enabled: true
  fullnameOverride: castai-workload-autoscaler
  castai:
    apiKeySecretRef: castai-credentials
    configMapRef: castai-agent-metadata

live:
  enabled: true
  castai:
    apiKeySecretRef: castai-credentials
    configMapRef: castai-agent-metadata
  castai-aws-vpc-cni:
    enabled: true
  daemon:
    labelNodeSubnet: true
  controller:
    # TODO: tune CLM behavior for autoscaler profile.
    replicaCount: 0

pod-mutator:
  enabled: true
  fullnameOverride: castai-pod-mutator
  dependencyCheck:
    enabled: false
  castai:
    apiKeySecretRef: castai-credentials
    configMapRef: castai-agent-metadata
  envFrom:
    - configMapRef:
        name: castai-agent-metadata

evictor:
  enabled: true
  replicaCount: 1
  aggressiveMode: false
  overrideEnvFrom: true
  envFrom:
    - secretRef:
        name: castai-credentials
    - configMapRef:
        name: castai-agent-metadata

metrics-server:
  enabled: false