apiVersion: v2
name: castai-hosted-model
description: CAST AI hosted model deployment chart.
type: application
version: 0.0.4
appVersion: "v0.0.1"
dependencies:
  - name: ollama
    version: 1.4.0
    repository: https://otwld.github.io/ollama-helm/
    condition: ollama.enabled
  - name: vllm
    version: 0.0.1
    repository: file://child-charts/vllm
    condition: vllm.enabled
