apiVersion: v2
name: castai-hosted-model
description: CAST AI hosted model deployment chart.
type: application
version: 0.0.33
appVersion: "v0.0.1"
dependencies:
  - name: vllm
    version: 0.0.26
    repository: file://child-charts/vllm
    condition: vllm.enabled
