{{- if .Values.exporter.serviceAccount.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "exporter.fullname" . }}
  labels:
  {{- include "exporter.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - nodes/metrics
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - pods
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
      - replicasets
      - daemonsets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - "argoproj.io"
    resources:
      - rollouts
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - autoscaling.cast.ai
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - autoscaling.cast.ai
    resources:
      - "custommetricsexporterconfigs/status"
    verbs:
      - update
      - patch
{{- end }}
