{{- if .Values.castai.apiKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "exporter.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "exporter.labels" . | nindent 4 }}
  {{ if .Values.commonAnnotations -}}
  annotations:
    {{- include "exporter.annotations" . | nindent 4 }}
  {{- end }}
data:
  API_KEY: {{ required "apiKey must be provided" .Values.castai.apiKey | b64enc | quote }}
{{- end }}
