apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: castai-spot-handler
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "spot-handler.labels" . | nindent 4 }}
  annotations:
    ignore-check.kube-linter.io/host-network: "Spot handler need host network to access instance metadata endpoints for spot interrupts checks."
    {{- include "spot-handler.annotations" . | nindent 4 }}
spec:
  updateStrategy:
    {{- .Values.updateStrategy | toYaml | nindent 4 }}
  selector:
    matchLabels:
      name: spot-handler
  template:
    metadata:
      labels:
        name: spot-handler
        {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
     {{- if and (.Capabilities.APIVersions.Has "scheduling.k8s.io/v1") (semverCompare ">= 1.18-0" .Capabilities.KubeVersion.Version) .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | trim | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      hostNetwork: {{ .Values.useHostNetwork }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
      {{- toYaml .Values.securityContext | nindent 8 }}
      containers:
        - name: spot-handler
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: API_URL
              value: {{ required "castai.apiURL must be provided" .Values.castai.apiURL | quote }}
          {{- $clusterIdCount := 0 }}
          {{- if .Values.castai.clusterID }}{{ $clusterIdCount = add1 $clusterIdCount }}{{ end }}
          {{- if .Values.castai.clusterIdSecretKeyRef.name }}{{ $clusterIdCount = add1 $clusterIdCount }}{{ end }}
          {{- if .Values.castai.clusterIdConfigMapKeyRef.name }}{{ $clusterIdCount = add1 $clusterIdCount }}{{ end }}
          {{- if gt $clusterIdCount 1 }}
            {{- fail "clusterID, clusterIdSecretKeyRef and clusterIdConfigMapKeyRef are mutually exclusive" }}
          {{- end }}
          {{- if .Values.castai.clusterID }}
            - name: CLUSTER_ID
              value: {{ .Values.castai.clusterID | quote }}
          {{- else if .Values.castai.clusterIdSecretKeyRef.name }}
            - name: CLUSTER_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.castai.clusterIdSecretKeyRef.name }}
                  key: {{ .Values.castai.clusterIdSecretKeyRef.key }}
          {{- else if .Values.castai.clusterIdConfigMapKeyRef.name }}
            - name: CLUSTER_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.castai.clusterIdConfigMapKeyRef.name }}
                  key: {{ .Values.castai.clusterIdConfigMapKeyRef.key }}
          {{- else if not .Values.envFrom }}
            {{- fail "either clusterID, clusterIdSecretKeyRef or clusterIdConfigMapKeyRef must be provided" }}
          {{- end }}
            - name: PROVIDER
              value: {{ required "castai.provider must be provided" .Values.castai.provider | quote }}
            {{- range $k, $v := .Values.additionalEnv }}
            - name: {{ $k }}
              value: "{{ $v }}"
            {{- end }}
          envFrom:
          {{- if .Values.trustedCACert }}
            - secretRef:
                name: {{ include "spot-handler.fullname" . }}-tls-cert
          {{- else if .Values.trustedCACertSecretRef }}
            - secretRef:
                name: {{ .Values.trustedCACertSecretRef -}}
          {{- end }}
          {{- if and .Values.castai.apiKey .Values.apiKeySecretRef }}
            {{- fail "apiKey and apiKeySecretRef are mutually exclusive" }}
          {{- end }}
          {{- if or .Values.castai.apiKey .Values.apiKeySecretRef }}
            - secretRef:
                {{- if .Values.castai.apiKey }}
                name: {{ include "spot-handler.fullname" . -}}
                {{- else }}
                name: {{ .Values.apiKeySecretRef -}}
                {{- end }}
          {{- else }}
            - secretRef:
                # Re-use shared secret from cluster-controller (backwards compatibility with old versions).
                name: castai-cluster-controller
          {{- end }}
          {{- with .Values.envFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            readOnlyRootFilesystem: true
      terminationGracePeriodSeconds: 30
