apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vllm.fullname" . }}
  labels:
    model.aibrix.ai/port: {{ .Values.container.port | quote }}
    {{- include "vllm.labels" . | nindent 4 }}
    {{- with .Values.deployment.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    workloads.cast.ai/configuration: |
      vertical:
        optimization: off
      horizontal:
        optimization: off
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "vllm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "vllm.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      volumes:
        {{- if .Values.tensorParallelSize }}
        # vLLM needs to access the host's shared memory for tensor parallel inference.
        - name: shm
          emptyDir:
            medium: Memory
            sizeLimit: "10Gi"
        {{- end }}
        {{- if eq .Values.model.sourceRegistry "gcs" }}
        - name: gcs-credentials-model
          secret:
            secretName: {{ include "modelRegistrySecretName" . }}
            items:
              - key: gcsCredentialsJson
                path: credentials.json
        {{- end }}
        {{- if and .Values.loraAdapter.name (eq .Values.loraAdapter.sourceRegistry "gcs") }}
        - name: gcs-credentials-lora
          secret:
            secretName: {{ include "loraRegistrySecretName" . }}
            items:
              - key: gcsCredentialsJson
                path: credentials.json
        {{- end }}
        {{- if and .Values.model.cache.enabled (eq .Values.model.cache.bucketType "gcs") }}
        - name: cache-gcs-credentials-model
          secret:
            secretName: {{ include "modelCacheSecretName" . }}
            items:
              - key: gcsCredentialsJson
                path: credentials.json
        {{- end }}
        - name: models
          emptyDir: {}
        - name: startup-script
          configMap:
            name: {{ include "vllm.fullname" . }}-startup-script
            defaultMode: 0755
        {{- if .Values.model.cache.enabled }}
        - name: cache-ready
          emptyDir: {}
        {{- end }}
      containers:
        - name: "vllm"
          image: "{{ required "Required value 'image.repository' must be defined" .Values.image.repository }}:{{ required "Required value 'image.tag' must be defined" .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          command: ["/scripts/startup.sh"]
          args:
            - "--served-model-name={{ .Values.model.name }}"
            {{- if .Values.loraAdapter.name }}
            - "--enable-lora"
            - "--max-lora-rank={{ .Values.maxLoraRank }}"
            - "--lora-modules"
            - '{"name": "{{ .Values.loraAdapter.name }}", "path": "{{ include "loraAdapterPath" . }}", "base_model_name": "{{ .Values.model.name }}"}'
            {{- end }}
            {{- if .Values.useRunAiStreamer }}
            - "--load-format=runai_streamer"
            {{- end }}
            - "--trust-remote-code"
            {{- if .Values.gpuMemoryUtilization }}
            - "--gpu-memory-utilization={{ .Values.gpuMemoryUtilization }}"
            {{- end }}
            {{- if .Values.maxNumSeqs }}
            - "--max-num-seqs={{ .Values.maxNumSeqs }}"
            {{- end }}
            - "--task={{ required "Required value 'task' must be defined" .Values.task }}"
            - "--dtype={{ required "Required value 'dtype' must be defined" .Values.dtype }}"
            - "--kv-cache-dtype={{ required "Required value 'kvCacheDtype' must be defined" .Values.kvCacheDtype }}"
            {{- if .Values.enableChunkedPrefill }}
            - "--enable-chunked-prefill"
            {{- end }}
            {{- if .Values.maxNumBatchedTokens }}
            - "--max-num-batched-tokens={{ .Values.maxNumBatchedTokens }}"
            {{- end }}
            {{- if .Values.enableAutoToolChoice }}
            - "--enable-auto-tool-choice"
            {{- end }}
            {{- if .Values.toolCallParser }}
            - "--tool-call-parser={{ .Values.toolCallParser }}"
            {{- end }}
            {{- if .Values.reasoningParser }}
            - "--reasoning-parser={{ .Values.reasoningParser }}"
            {{- end }}
            - "--download-dir=/models"
            {{- if .Values.maxModelLen }}
            - "--max-model-len={{ .Values.maxModelLen }}"
            {{- end }}
            {{- if .Values.tensorParallelSize }}
            - "--tensor-parallel-size={{ .Values.tensorParallelSize }}"
            {{- end }}
            {{- if .Values.quantization }}
            - "--quantization={{ .Values.quantization }}"
            {{- end }}
            {{- if .Values.enableEager }}
            - "--enforce-eager"
            {{- end }}
            {{- if .Values.swapSpace }}
            - "--swap-space={{ .Values.swapSpace }}" # in GiB
            {{- end }}
            - "--show-hidden-metrics-for-version=0.10" # temp fix because AIBrix controller still uses the deprecated metrics
            {{- range .Values.extraArgs }}
            - {{ . | quote }}
            {{- end }}
          env:
            - name: VLLM_IMAGE_FETCH_TIMEOUT # MM Models
              value: "60"
            - name: HF_HOME # Otherwise transformers will not respect download dir in vLLM
              value: /models
            - name: LD_LIBRARY_PATH
              value: "/usr/local/nvidia/lib:/usr/local/nvidia/lib64:${LD_LIBRARY_PATH}"
            {{- include "modelSourceCredentialsEnvVars" . | nindent 12 }}
            {{- include "modelCacheCredentialsEnvVars" . | nindent 12 }}
            {{- if or (eq .Values.model.sourceRegistry "hf") .Values.model.registry.hf.token }}
            - name: HUGGING_FACE_HUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "modelRegistrySecretName" . }}
                  key: "hfToken"
                  optional: true
            {{- end }}
            {{- if and .Values.loraAdapter.name (eq .Values.loraAdapter.sourceRegistry "hf") }}
            - name: HUGGING_FACE_HUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "loraRegistrySecretName" . }}
                  key: "hfToken"
                  optional: true
            {{- end }}
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.container.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.startupProbe.enabled }}
          startupProbe:
            httpGet:
              path: {{ .Values.startupProbe.httpGet.path }}
              port: http
            initialDelaySeconds: {{ .Values.startupProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds }}
            failureThreshold: {{ .Values.startupProbe.failureThreshold }}
            timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds }}
            successThreshold: {{ .Values.startupProbe.successThreshold }}
          {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: http
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
          {{- end }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: http
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
          {{- end }}
          volumeMounts:
          {{- if .Values.tensorParallelSize }}
            - name: shm
              mountPath: /dev/shm
          {{- end }}
            - name: models
              mountPath: /models
          {{- if eq .Values.model.sourceRegistry "gcs" }}
            - name: gcs-credentials-model
              mountPath: /etc/gcs-credentials
              readOnly: true
          {{- end }}
          {{- if and .Values.model.cache.enabled (eq .Values.model.cache.bucketType "gcs") }}
            - name: cache-gcs-credentials-model
              mountPath: /etc/cache-gcs-credentials
              readOnly: true
          {{- end }}
            - name: startup-script
              mountPath: /scripts
              readOnly: true
          {{- if .Values.model.cache.enabled }}
            - name: cache-ready
              mountPath: /cache-ready
          {{- end }}
      initContainers:
        {{- if and .Values.model.cache.enabled .Values.useRunAiStreamer }}
        - name: model-cache-checker
          image: "{{ .Values.modelDownloader.image.repository }}:{{ .Values.modelDownloader.image.tag }}"
          imagePullPolicy: IfNotPresent
          args:
            - download
          env:
            {{- include "modelCacheCheckerEnvVars" . | nindent 12 }}
          volumeMounts:
            - name: cache-ready
              mountPath: /cache-ready
            {{- if eq .Values.model.cache.bucketType "gcs" }}
            - name: cache-gcs-credentials-model
              mountPath: /etc/cache-gcs-credentials
              readOnly: true
            {{- end }}
          resources:
            {{- toYaml .Values.modelDownloader.resources | nindent 12 }}
        {{- end }}
        {{- if and (ne .Values.model.sourceRegistry "hf") (not .Values.useRunAiStreamer) }}
        - name: model-downloader-base
          image: "{{ .Values.modelDownloader.image.repository }}:{{ .Values.modelDownloader.image.tag }}"
          imagePullPolicy: IfNotPresent
          {{- if .Values.model.cache.enabled }}
          command: ["/busybox/sh", "-c"]
          args:
            - |
              if SOURCE_TYPE="{{ .Values.model.cache.bucketType }}" \
              {{- if eq .Values.model.cache.bucketType "gcs" }}
                 SOURCE_GCS_CREDENTIALS_FILE="${CACHE_GOOGLE_APPLICATION_CREDENTIALS}" \
                 GOOGLE_APPLICATION_CREDENTIALS="${CACHE_GOOGLE_APPLICATION_CREDENTIALS}" \
              {{- else if eq .Values.model.cache.bucketType "s3" }}
                 SOURCE_S3_ACCESS_KEY_ID="${CACHE_AWS_ACCESS_KEY_ID}" \
                 SOURCE_S3_SECRET_ACCESS_KEY="${CACHE_AWS_SECRET_ACCESS_KEY}" \
                 SOURCE_S3_REGION="${CACHE_AWS_REGION}" \
                 SOURCE_S3_ENDPOINT="${CACHE_AWS_ENDPOINT_URL}" \
              {{- end }}
                 SOURCE_REMOTE_DIRS="{{ .Values.model.cache.bucket }}/{{ include "model.dirName" . }}/.copy.manifest" \
                 DESTINATION_LOCAL_DIR="/tmp/cache-check" \
                 model-downloader download && \
                 [ -f "/tmp/cache-check/{{ .Values.model.cache.bucket }}/{{ include "model.dirName" . }}/.copy.manifest" ]; then
                echo "Cache hit: downloading model from cache bucket"
                export SOURCE_TYPE="{{ .Values.model.cache.bucketType }}"
                {{- if eq .Values.model.cache.bucketType "gcs" }}
                export SOURCE_GCS_CREDENTIALS_FILE="${CACHE_GOOGLE_APPLICATION_CREDENTIALS}"
                export GOOGLE_APPLICATION_CREDENTIALS="${CACHE_GOOGLE_APPLICATION_CREDENTIALS}"
                {{- else if eq .Values.model.cache.bucketType "s3" }}
                export SOURCE_S3_ACCESS_KEY_ID="${CACHE_AWS_ACCESS_KEY_ID}"
                export SOURCE_S3_SECRET_ACCESS_KEY="${CACHE_AWS_SECRET_ACCESS_KEY}"
                export SOURCE_S3_REGION="${CACHE_AWS_REGION}"
                export SOURCE_S3_ENDPOINT="${CACHE_AWS_ENDPOINT_URL}"
                {{- end }}
                export SOURCE_REMOTE_DIRS="{{ .Values.model.cache.bucket }}/{{ include "model.dirName" . }}"
              else
                echo "Cache miss: downloading model from source"
              fi
              exec model-downloader download
          {{- else }}
          args:
            - download
          {{- end }}
          env:
            {{- include "modelSourceCredentialsEnvVars" . | nindent 12 }}
            {{- if .Values.model.cache.enabled }}
            {{- include "modelCacheCredentialsEnvVars" . | nindent 12 }}
            {{- end }}
            - name: SOURCE_REMOTE_DIRS
              value: "{{ .Values.model.name }}"
            - name: DESTINATION_LOCAL_DIR
              value: "/models"
          volumeMounts:
            - name: models
              mountPath: /models
            {{- if eq .Values.model.sourceRegistry "gcs" }}
            - name: gcs-credentials-model
              mountPath: /etc/gcs-credentials
              readOnly: true
            {{- end }}
            {{- if and .Values.model.cache.enabled (eq .Values.model.cache.bucketType "gcs") }}
            - name: cache-gcs-credentials-model
              mountPath: /etc/cache-gcs-credentials
              readOnly: true
            {{- end }}
          resources:
            {{- toYaml .Values.modelDownloader.resources | nindent 12 }}
        {{- end }}
        {{- if and .Values.loraAdapter.name (ne .Values.loraAdapter.sourceRegistry "hf") }}
        - name: model-downloader-lora
          image: "{{ .Values.modelDownloader.image.repository }}:{{ .Values.modelDownloader.image.tag }}"
          imagePullPolicy: IfNotPresent
          args:
            - download
          env:
            {{- include "loraSourceCredentialsEnvVars" (list .Values.loraAdapter.sourceRegistry .) | nindent 12 }}
            - name: SOURCE_REMOTE_DIRS
              value: "{{ .Values.loraAdapter.name }}"
            - name: DESTINATION_LOCAL_DIR
              value: "/models"
          volumeMounts:
            - name: models
              mountPath: /models
            {{- if eq .Values.loraAdapter.sourceRegistry "gcs" }}
            - name: gcs-credentials-lora
              mountPath: /etc/gcs-credentials-lora
              readOnly: true
            {{- end }}
          resources:
            {{- toYaml .Values.modelDownloader.resources | nindent 12 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
