{{- if and .Values.model.registry .Values.model.registry.createSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "modelRegistrySecretName" . }}
  labels:
    {{- include "vllm.labels" . | nindent 4 }}
type: Opaque
data:
  {{- with .Values.model.registry.hf.token }}
  hfToken: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.model.registry.gcs.credentialsJsonBase64 }}
  gcsCredentialsJson: {{ . | quote }}
  {{- end }}
  {{- with .Values.model.registry.s3.accessKeyId }}
  awsAccessKeyId: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.model.registry.s3.secretAccessKey }}
  awsSecretAccessKey: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.model.registry.s3.region }}
  awsRegion: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.model.registry.s3.endpointUrl }}
  awsEndpointUrl: {{ . | b64enc | quote }}
  {{- end }}
{{- end }}

{{- if and .Values.loraAdapter.registry .Values.loraAdapter.registry.createSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "loraRegistrySecretName" . }}
  labels:
    {{- include "vllm.labels" . | nindent 4 }}
type: Opaque
data:
  {{- with .Values.loraAdapter.registry.hf.token }}
  hfToken: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.loraAdapter.registry.gcs.credentialsJsonBase64 }}
  gcsCredentialsJson: {{ . | quote }}
  {{- end }}
  {{- with .Values.loraAdapter.registry.s3.accessKeyId }}
  awsAccessKeyId: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.loraAdapter.registry.s3.secretAccessKey }}
  awsSecretAccessKey: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.loraAdapter.registry.s3.region }}
  awsRegion: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.loraAdapter.registry.s3.endpointUrl }}
  awsEndpointUrl: {{ . | b64enc | quote }}
  {{- end }}
{{- end }}

{{- if and .Values.model.cache.enabled .Values.model.cache.createSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "modelCacheSecretName" . }}
  labels:
    {{- include "vllm.labels" . | nindent 4 }}
type: Opaque
data:
  {{- with .Values.model.cache.gcs.credentialsJsonBase64 }}
  gcsCredentialsJson: {{ . | quote }}
  {{- end }}
  {{- with .Values.model.cache.s3.accessKeyId }}
  awsAccessKeyId: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.model.cache.s3.secretAccessKey }}
  awsSecretAccessKey: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.model.cache.s3.region }}
  awsRegion: {{ . | b64enc | quote }}
  {{- end }}
  {{- with .Values.model.cache.s3.endpointUrl }}
  awsEndpointUrl: {{ . | b64enc | quote }}
  {{- end }}
{{- end }}
