name: Release CNAB

on:
  push:
    tags:
    - 'castai*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # We need to manually add repos for deps due to bug in https://github.com/helm/chart-releaser/issues/135
      - name: Add dependencies
        run: |
          helm repo add vector https://helm.vector.dev
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo add incubator https://charts.helm.sh/incubator
          helm repo add elasticsearch https://helm.elastic.co  
          helm repo add grafana https://grafana.github.io/helm-charts

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.5.2

      - name: Release CNAB package
        run: scripts/release-cnab-package.sh
        env:
          TAG_NAME: ${{ github.ref_name }}
          AZURE_K8S_APP_MARKETPLACE_SP_ID: ${{ secrets.AZURE_K8S_APP_MARKETPLACE_SP_ID }}
          AZURE_K8S_APP_MARKETPLACE_SP_SECRET: ${{ secrets.AZURE_K8S_APP_MARKETPLACE_SP_SECRET }}
          AZURE_K8S_APP_MARKETPLACE_TENANT_ID: ${{ secrets.AZURE_K8S_APP_MARKETPLACE_TENANT_ID }}
          AZURE_K8S_APP_MARKETPLACE_REGISTRY_NAME: ${{ secrets.AZURE_K8S_APP_MARKETPLACE_REGISTRY_NAME }}
