name: Validate Pull Request

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Helm Docs
        uses: envoy/install-helm-docs@v1.0.0
        with:
          version: 1.11.0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Validate PR
        run: scripts/validate-pr.sh
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}

      - name: Verify CNAB package
        run: scripts/verify-cnab-package.sh
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
